Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/StarterContent
Content/levels
Content/Blueprints
Content/Assets
Content/HUD
Content/Meshes